git+https://github.com/PeterHedley94/pyicloud.git@6e1d1ff3698eaccd841c5c977ffad77421c3f04e#egg=pyicloud
docopt==0.6.2
schema==0.6.6
click==6.7
python_dateutil==2.6.1
requests>=2.20.0
tqdm==4.14
piexif==1.1.2
